include ../mixins_element

#list.pure-u-1
  mixin item("{{help0.profileRef|uppercase}}","{{help0.profileRef}}","{{help0.profileRef}}","{{help0.profileRef}}","avatar of {{help0.profileRef}}","{{help0.visualstate}}","help0 in help.results")
#main.pure-u-1
  .email-content
    .email-content-header.pure-g
      .pure-u-1-2
        h1.email-content-title Help
        mixin dSubtitleFrom("olivier", "8:90")
      .pure-u-1-2.email-content-controls
        mixin dButtons("Forward","")
        mixin dButtons("Backward","")
    .email-content-body
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      p
        | Regards,
      br
        | Tilo

