include ../mixins_element

#list.pure-u-1
  mixin item("{{recent0.profileRef|uppercase}}","{{recent0.profileRef}}","{{recent0.profileRef}}","{{recent0.profileRef}}","avatar of {{recent0.profileRef}}","{{recent0.visualstate}}","recent0 in recent.results")
#main.pure-u-1
  .email-content
    .email-content-header.pure-g
      .pure-u-1-2
        h1.email-content-title Recent
        mixin dSubtitleFrom("olivier", "8:90")
      .pure-u-1-2.email-content-controls
        mixin dButtons("Forward","")
        mixin dButtons("Backward","")
    .email-content-body
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      p
        | Regards,
      br
        | Tilo

