div#alerts
	h3 Live
	div
		h4 Status
		ul
			li
				a(href="http://flarebyte.com") Message [12]
			li
				a(href="http://flarebyte.com") Tasks [2]
	div
		h4 Online
		ul
			li
				a(href="http://flarebyte.com") Olivier
			li
				a(href="http://flarebyte.com") Yu
			li
				a(href="http://flarebyte.com") Yvanne
					
		
					

			