div#tabsmenu
  ul(class="tabs")
    li(class="active")
      a(href="http://flarebyte.com") Buy
    li
      a(href="http://flarebyte.com") Sell
    li
      a(href="http://flarebyte.com") Profiles
    li(class="last")
      a(href="http://flarebyte.com") Spaces
      