div(data-role="header",data-position="fixed", data-theme="d")
  div(data-role="fieldcontain")
    label(for="search") Search:
    input(type="search",name="password",id="search",value="")
  div(data-role="controlgroup")
    a(href="index.html", data-role="button") Suggestion1
    a(href="index.html", data-role="button") Suggestion 2
    a(href="index.html", data-role="button") Suggestion 3
    a(href="index.html", data-role="button") Suggestion 4
    a(href="index.html", data-role="button") Suggestion1
    a(href="index.html", data-role="button") Suggestion 2
    a(href="index.html", data-role="button") Suggestion 3
    a(href="index.html", data-role="button") Suggestion 4
  