//Containers

.container_xxl
  padding 0
  width 95%
  margin:0px auto

.container_left_small
  margin 1em
  width 20%
  float left
  overflow hidden

.container_right_large
  margin 1em
  width 70%
  float right
  overflow hidden
  
.pull-right
  float: right

.pull-left
  float: left

.hide
  display: none

.show
  display: block
