.ui-icon-business-logo
  background-image: url("http://localhost:3001/flarebyte-marketplace/image/all/15313/48x48/v1.png")
  
@media only screen and (-webkit-min-device-pixel-ratio: 2)
  .ui-icon-business-logo
    background-image: url("http://localhost:3001/flarebyte-marketplace/image/all/15313/48x48/v1.png");
    background-size: 18px 18px;
