//Market Place

.currency-unit
	font-size 1.44em
	color  $Aluminium5
	//background url($icon_path+"/emblems/money.png") no-repeat left top
	padding-left $icon_width*1.5

.currency
	font-size 1em
	color  $Aluminium2
	padding-left $icon_width*1.7

.description
	clear both
	font-weight normal
	font-family $font_default
	font-size 1em
	text-align:justify
	margin-top 0.2em
	margin-bottom 0.8em
	line-height 125%
	color $Aluminium5

.description-main
	clear both
	font-weight normal
	font-family $font_default
	font-size 1.2em
	text-align:justify
	margin-top 0.2em
	margin-bottom 0.8em
	line-height 125%
	color $Aluminium6

.secondary
	clear both
	font-weight normal
	font-family $font_default
	font-size 0.8em
	text-align:justify
	margin-top 0.2em
	margin-bottom 0.8em
	margin-left 1em
	line-height 100%
	color $Aluminium3

.product
	clear both
	padding-top 2em
	border-bottom 1px solid  $Aluminium1
	.highlights
		float left
		width 30%
	.details
		float right
		width 70%

.details-boxes
	clear both
	.box-user
		width 33%
		float left
	.box-price
		width 33%
		float left
	.box-actions
		width 33%
		float right
		font-size 1.2em
		line-height 175%
		font-weight normal
		font-family $font_default


.user-gold
	background url($icon_path+"/categories/user-manager.png") no-repeat left top
	padding-left $icon_width*1.5
	padding-bottom $icon_width

