//Rating		
div.rating span
	padding-top 0.4em
	float right
div.rating
	width 150px
	margin-bottom 1em
	background url($baseurl+"/png/sprite-rating.png") no-repeat 0px 0px;height 24px
	
div.stars-0
	background-position left 0px
div.stars-1
	background-position left -25px
div.stars-2
	background-position left -50px
div.stars-3
	background-position left -75px
div.stars-4
	background-position left -100px
div.stars-5
	background-position left -125px
