.nav-fb-topmenu .ui-btn .ui-btn-inner 
  padding-top: 40px !important;
.nav-fb-topmenu .ui-btn .ui-icon  
  width: 32px!important
  height: 32px!important
  margin-left: -15px !important
  box-shadow: none!important
  -moz-box-shadow: none!important
  -webkit-box-shadow: none!important
  -webkit-border-radius: 0 !important
  border-radius: 0 !important
#business-logo .ui-icon 
  background:  url($logo32x32) 50% 50% no-repeat 
  background-size: 32px 32px
#admin .ui-icon 
  background:  url($admin32x32) 50% 50% no-repeat
  background-size: 32px 32px
#marketplace .ui-icon 
  background:  url($marketplace32x32) 50% 50% no-repeat
  background-size: 32px 32px
#account .ui-icon 
  background:  url($account32x32) 50% 50% no-repeat
  background-size: 32px 32px
#answers .ui-icon 
  background:  url($answers32x32) 50% 50% no-repeat
  background-size: 32px 32px

