include ../mixins_element

#list.pure-u-1
  mixin item("{{contacts0.profileRef|uppercase}}","{{contacts0.profileRef}}","{{contacts0.profileRef}}","{{contacts0.profileRef}}","avatar of {{contacts0.profileRef}}","{{contacts0.visualstate}}","contacts0 in contacts.results")
#main.pure-u-1
  .email-content
    .email-content-header.pure-g
      .pure-u-1-2
        h1.email-content-title Contacts
        mixin dSubtitleFrom("olivier", "8:90")
      .pure-u-1-2.email-content-controls
        mixin dButtons("Forward","")
        mixin dButtons("Backward","")
    .email-content-body
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      p
        | Regards,
      br
        | Tilo

