include ../mixins_element

#list.pure-u-1
  mixin item("{{important0.profileRef|uppercase}}","{{important0.profileRef}}","{{important0.profileRef}}","{{important0.profileRef}}","avatar of {{important0.profileRef}}","{{important0.visualstate}}","important0 in important.results")
#main.pure-u-1
  .email-content
    .email-content-header.pure-g
      .pure-u-1-2
        h1.email-content-title Important
        mixin dSubtitleFrom("olivier", "8:90")
      .pure-u-1-2.email-content-controls
        mixin dButtons("Forward","")
        mixin dButtons("Backward","")
    .email-content-body
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      p
        | Regards,
      br
        | Tilo

