include ../mixins_element

#list.pure-u-1
  mixin item("{{shared0.profileRef|uppercase}}","{{shared0.profileRef}}","{{shared0.profileRef}}","{{shared0.profileRef}}","avatar of {{shared0.profileRef}}","{{shared0.visualstate}}","shared0 in shared.results")
#main.pure-u-1
  .email-content
    .email-content-header.pure-g
      .pure-u-1-2
        h1.email-content-title Shared
        mixin dSubtitleFrom("olivier", "8:90")
      .pure-u-1-2.email-content-controls
        mixin dButtons("Forward","")
        mixin dButtons("Backward","")
    .email-content-body
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      p
        | Regards,
      br
        | Tilo

