include ../mixins_element

#list.pure-u-1
  mixin item("{{toDo0.profileRef|uppercase}}","{{toDo0.profileRef}}","{{toDo0.profileRef|uppercase}}","{{toDo0.profileRef}}","avatar of {{toDo0.profileRef}}","{{toDo0.visualstate}}","toDo0 in toDo.results")
#main.pure-u-1
  .email-content
    .email-content-header.pure-g
      .pure-u-1-2
        h1.email-content-title To do
        mixin dSubtitleFrom("olivier", "8:90")
      .pure-u-1-2.email-content-controls
        mixin dButtons("Forward","")
        mixin dButtons("Backward","")
    .email-content-body
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      p
        | Regards,
      br
        | Tilo

