include mixins/divider
ul
  mixin divider_count(everything.title, everything.items)
  mixin divider_count(no_items.title, no_items.items)
  mixin divider_count(items_is_null.title, items_is_null.items)
  mixin divider_count(items_is_empty.title, items_is_empty.items)
  
  
