div
    include root
    //include ../available_at_or_from
    //include ../type_of_good
    //h2.subtle More ...
    //include topics_svg
    
    include ../comments
    include ../outbounds
    include ../subjects
    include ../description
