include mixins_element

mixin sideNavigation
  #nav.pure-u
    mixin logo
    a.nav-menu-button(href='#') Menu
    .nav-inner
      .pure-menu.pure-menu-open
        ul.nav.nav-pills.nav-stacked

          mixin navButton('Profile','profile','fa fa-user fa-lg')
          mixin navButton('Login','login','fa fa-sign-in fa-lg')
          hr
          mixin navButton('Compose','compose','fa fa-edit fa-lg')
          mixin navButton('To read','to-read','fa fa-eye fa-lg')
          mixin navButton('To do','to-do','fa fa-tasks fa-lg')
          mixin navButton('Important','important','fa fa-star fa-lg')
          mixin navButton('Recent','recent','fa fa-clock-o fa-lg')
          mixin navButton('Shared','shared','fa fa-share fa-lg')
          mixin navButton('All','all','fa fa-inbox fa-lg')
          mixin navButton('News','news','fa fa-group fa-lg')
          mixin navButton('Trash','trash','fa fa-trash-o fa-lg')
          hr
          mixin navButton('Dashboard','dashboard','fa fa-dashboard fa-lg')
          mixin navButton('Contacts','contacts','fa fa-book fa-lg')
          mixin navButton('Settings','settings','fa fa-cogs fa-lg')
          hr
          li.pure-menu-heading Info
          li
          mixin navButton('Help','help','fa fa-question fa-lg')
          mixin navButton('Faq','faq','fa fa-info fa-lg')
          mixin navButton('Privacy','privacy','fa fa-lock fa-lg')
          mixin navButton('Terms','terms','fa fa-legal fa-lg')
