!!!
html(ng-app="flamingApp")
  head
    meta(charset='utf-8')
    base(href='/')
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Flarebyte Flaming Application')
    meta(name='author', content='Olivier Huin')
    title Flarebyte.com Flaming    

    link(href='js/bower_components/pure/pure-min.css', rel='stylesheet', type='text/css')
    link(href='css/email.css', rel='stylesheet', type='text/css')
    link(href='js/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')

  body
    block body
