//Containers

#wrap
  padding 0
  width 90%
  margin:0px auto;
  
#main
  width 100%
  #contentside
    margin 1em
    width 70%
    float right
    overflow hidden
  
  #content
    margin 5%
    width 90%
    overflow hidden

  #maincontent
    margin 2%
    width 100%
    overflow hidden
    border-color $Orange3
    border-style solid
    border-width 1px

  #subcontent
    margin 2%
    width 90%
    overflow hidden
    float right
    border-left-color $Orange2
    border-left-style solid
    border-left-width 1px

  #content1_2
    margin 1em
    width 45%
    float left
    overflow hidden
  
  #content2_2
    margin 1em
    width 45%
    float right
    overflow hidden

  #aside
    margin 1em
    width 20%
    float left
    overflow hidden
  #aside #filter
    border 1px solid  $Aluminium1
    padding-bottom 1em
  #aside #alerts
    border 1px solid  $Aluminium1
    padding-bottom 1em
  #aside #topics
    border 1px solid  $Aluminium1
    padding-bottom 1em
  
header
  padding-top: 40px
  
#menu
  padding-left 2em
  background-color  $Aluminium5

footer
  color white
  clear both
  height 3em
  padding .7em 0em
  background-color  $Aluminium5
  p
    color  $Aluminium5
    padding 0em
    font-size 1em
    margin 0.000000em -8px 0.000000em -8px

.pull-right
  float: right

.pull-left
  float: left

.hide
  display: none

.show
  display: block

.container
  width: 940px
  margin-left: auto
  margin-right: auto
  zoom: 1

.container:before, .container:after
  display: table
  content: ""
  zoom: 1

.container:after
  clear: both

.container-fluid
  position: relative
  min-width: 940px
  padding-left: 20px
  padding-right: 20px
  zoom: 1

.container-fluid:before, .container-fluid:after
  display: table
  content: ""
  zoom: 1

.container-fluid:after
  clear: both

.container-fluid > .sidebar
  position: absolute
  top: 0
  left: 20px
  width: 220px

.container-fluid > .content
  margin-left: 240px


