h1
  font-size 3em
  color  $color_main
  font-family $font_title 
  text-align:center
  padding $padding_title_h1
  border-top 1px solid  $Aluminium1
  margin $margin_title_default
  
h2
  clear both
  font-size 1.73em
  color  $color_main
  font-family $font_title 
  text-transform uppercase 
  text-align:left
  padding $padding_title_default
  margin $margin_title_default

h2 small
  color $Aluminium3
  background-color white
  
h3
  font-size 1.44em
  color  $color_main
  font-family $font_title
  text-transform capitalize 
  text-align:left
  padding $padding_title_default
  margin $margin_title_default

h3 small
  color $Aluminium3
  background-color white

h4
  font-size 1.20em
  color  $color_main
  font-family $font_title 
  text-align:left
  padding $padding_title_default
  margin $margin_title_default
  
h4 small
  color $Aluminium3
  background-color white
  
body
  color  $Aluminium5
  background-color $bgcolor_default
  font-size 1em
  font-weight normal
  font-family $font_default
p
  clear both
  font-size 1em
  font-weight normal
  font-family $font_default
  margin-top 0.2em
  margin-bottom 0.8em
  line-height 125%

strong
  font-weight bolder
em
  font-style italic

.muted
  color: $Aluminium2

