.ui-icon-business-logo
  background-image: url($logowhite18x18)
  
@media only screen and (-webkit-min-device-pixel-ratio: 2)
  .ui-icon-business-logo
    background-image: url($logowhite36x36);
    background-size: 18px 18px;
