//Rating		
div.rating span
	padding-top 0.4em
	float right
div.rating
	width 150px
	margin-bottom 1em
	background url($baseurl+"/png/sprite-rating.png") no-repeat 0px 0px;height 24px
	
div.stars-0
	background-position left 0px
div.stars-1
	background-position left -25px
div.stars-2
	background-position left -50px
div.stars-3
	background-position left -75px
div.stars-4
	background-position left -100px
div.stars-5
	background-position left -125px

// Definition list count
dl.count
	padding 0
	color $color_main
	font-size 1em
	dt
		font-size 1em
		position relative
		top 0.8em
		width 5em
		height 1.44em
		left 0
		padding-right 4em
		padding-left 3em
		color $Aluminium2
	dd
		margin -1.5em 0 0 -.25em
		font-size 1.44em
	dd.in-stock
		color $Chameleon3
		//background url($icon_path+"/status/available.png") no-repeat right top
	dd.expiration
		color $Scarlet_Red3

.count
	font-family $font_default
	font-size 1.44em
