@import "tango_colours"
@import "urls"

//Defaults

$font_title = sans-serif
$font_default = sans-serif
$padding_title_h1 = 0.5em 0.5em 0.5em 0.5em
$padding_title_default = 0.25em 0.5em 0.25em 0.5em
$margin_title_default = 0.25em -0.5em 0.25em -0.5em

$icon_width=22px

$color_main = $Orange2
$bgcolor_default = "white"

//@import "def_list"
//@import "navigation"
//@import "headers"
//@import "containers"
//@import "rating"
//@import "market_place"
//@import "rating"
@import "logo"
//@import "labels"
//@import "actions"
@import "flarebyte"

.color-primary
  color $Orange2

.color-secondary
  color $Scarlet_Red2

