//Tango colours

$Butter1 = #fce94f
$Orange1 = #fcaf3e
$Chocolate1 = #e9b96e
$Chameleon1 = #8ae234
$Sky_Blue1 = #729fcf
$Plum1 = #ad7fa8
$Scarlet_Red1 = #ef2929

$Butter2 = #edd400
$Orange2 = #f57900
$Chocolate2 = #c17d11
$Chameleon2 = #73d216
$Sky_Blue2 = #3465a4
$Plum2 = #75507b
$Scarlet_Red2 = #cc0000

$Butter3 = #c4a000
$Orange3 = #ce5c00
$Chocolate3 = #8f5902
$Chameleon3 = #4e9a06
$Sky_Blue3 = #204a87
$Plum3 = #5c3566
$Scarlet_Red3 = #a40000

$Aluminium1=#eeeeec
$Aluminium2=#d3d7cf
$Aluminium3=#babdb6
$Aluminium4=#888a85
$Aluminium5=#555753
$Aluminium6=#2e3436




	


	

