$baseurl = 'http://media.flairbyte.com/fe3l/falcon'
//$logo= "http://flairbyte.com/flarebyte/en/png/logo/8/logo-8.png"
//$favicon= "images/fb.logo.png"
$search_img ="http://localhost:3010/images/search_bg.gif"
$icon_path="http://localhost:3000/images/tango/22x22"
$logowhite18x18="images/flarebyte.logo.white.18x18.png"
$logowhite36x36="images/flarebyte.logo.white.36x36.png"