// Word cloud
div.worldcloud
	font-size 1em
div.wordcloud-horiz
	width 20%
	float left
div.wordcloud-vert
	width 10%
	float left
div.wordcloud-col a
	font-size 1em
	color  $Aluminium3
	text-decoration none
div.wordcloud1 a
	font-size 1em
	color  $Aluminium3
	text-decoration none
	padding 0.5em
div.wordcloud2 a
	font-size 1.1em
	color  $Aluminium2
	text-decoration none
	padding 0.5em
div.wordcloud3 a
	font-size 1.2em
	color  $Aluminium2
	text-decoration none
	padding 0.5em
div.wordcloud4 a
	font-size 1.4em
	color  $Aluminium3
	text-decoration none
	padding 0.5em
div.wordcloud5 a
	font-size 1.5em
	color  $Aluminium3
	text-decoration none
	padding 0.5em
div.wordcloud6 a
	font-size 1.6em
	color  $Aluminium3
	text-decoration none
	padding 0.6em
div.wordcloud7 a
	font-size 1.7em
	color  $Aluminium4
	text-decoration none
	padding 0.7em
div.wordcloud8 a
	font-size 1.8em
	color  $Aluminium4
	text-decoration none
	padding 0.8em
div.wordcloud9 a
	font-size 1.9em
	color  $Aluminium3
	text-decoration none
	padding 0.9em
div.wordcloud10 a
	font-size 2em
	color  $Aluminium3
	text-decoration none
	padding 1em
div.wordcloud a:hover
	color  $color_main
	outline none

.vertical
	-moz-transform: rotate(90deg)
	-moz-transform-origin: 50% 50%
	-webkit-transform: rotate(90deg)
	-webkit-transform-origin: 50% 50%
	
